.section-keypad {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

#keypadDetails {
	height: 32px;
	padding: 2px;
}

.correct-sequence {
	text-align: center;
}

.keypad {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.section-presses {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 8px;
}

.section-pad-buttons {
	align-items: center;
	border: 1px solid #000;
	display: grid;
	grid-template: '. . .'1fr '. . .'1fr '. . .'1fr '. zero .'1fr / 1fr 1fr 1fr;
	height: 512px;
	justify-items: center;
	width: 512px;
}

.pad-button {
	box-shadow: 0 0 0 8px #000;
	font-size: 3rem;
	height: 80%;
	width: 80%;
}

.pad-button:nth-last-child(1) {
	grid-area: zero;
}


.correct-presses {
	font-size: 1.25rem;
}

.section-keypad-indicators {
	display: flex;
	justify-content: space-around;
}

.keypad-indicator {
	background-color: #c40026;
	border: 1px solid #101;
	height: 64px;
	width: 64px;
}

.correct-indicator {
	background-color: #3fa244;
}
