.fromPerson {
	margin-top: 1em;
}

.fromPerson,
.toPerson {
	font-size: 1.25em;
}

.fromPerson {
	grid-area: fromPerson;
	margin-left: 1em;
}

.toPerson {
	grid-area: toPerson;
	justify-self: center;
}
