li {
	list-style: none;
}

.envelope {
	border: 3px solid black;
	display: grid;
	grid-template-areas:
		'fromPerson . stamp'
		'. toPerson .';
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	height: 396px;
	width: 912px;
}
