.dialog {
	display: grid;
	grid-template-areas:
		'title'
		'body'
		'footer';
	border: 3px solid #ccc;
	height: 256px;
}

.title {
	grid-area: title;
}

.body {
	border: 4px solid #ccc;
	grid-area: body;
	border-bottom: 1px solid #ccc;
}

.footer {
	border-top: 1px solid #ccc;
	grid-area: footer;
}
