#root {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

a:link {
	color: #000000;
	text-decoration: none;
}

td {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #828282;
	font-size: 10pt;
}

.background {
	width: 85%;
}

.banner {
	align-items: center;
	font-size: 14px;
	background-color: #ff6600;
	display: flex;
	height: 1.5rem;
}

.article {
	align-items: center;
	display: grid;
	grid-template-rows: 24px 24px;
	grid-template-columns: 1fr;
}


.article-link-domain {
	color: #828294;
	margin-left: 0.5rem;
}

/* .article-title {
	font-size: 16px;
} */

.article-position {
	padding-left: 4px;
}

.article-data {
	color: #828294;
}

.site {
	margin-left: 0.25rem;
	font-size: 10pt;
}

.banner span {
	margin-left: 0.5rem;
}

.site-icon {
	border: 1px solid #fff;
	margin: 2px;
}

.background {
	background-color: #f6f6ef;
}
