#root {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

.article-link {
	color: #000000;
	text-decoration: none;
}

td {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #828282;
	font-size: 10pt;
}

.background {
	width: 85%;
}

.banner {
	align-items: center;
	font-size: 14px;
	background-color: #ff6600;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.site-name {
	margin: 0 4px;
	min-width: 96px;
}

.banner-item {
	margin: 0 8px;
}

.news-list {
	margin-top: 10px;
}

.upvote-icon {
	padding: 0 1px;
}


.article {
	align-items: center;
	display: grid;
	grid-template: 'title title'
								 '. data' 100% / 30px;
	margin-bottom: 5px;
	width: 100%;
}


.article-link-domain {
	color: #828294;
	margin-left: 0.5rem;
}

.article-title {
	grid-area: title;
}

.article-position {
	padding-left: 4px;
}

.article-data {
	color: #828294;
	grid-area: data;
}

.site-icon {
	border: 1px solid #fff;
	margin: 2px;
	grid-area: icon;
}

.background {
	background-color: #f6f6ef;
}

.article-link-domain:hover,
.article-user:hover,
.number-of-comments:hover,
.time:hover {
	text-decoration: underline;
}

.time {
	margin-left: 4px;
}
